[submodule "Vendors/glfw"]
	path = Vendors/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Vendors/spdlog"]
	path = Vendors/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Vendors/glew-cmake"]
	path = Vendors/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
